NEXT_PUBLIC_CLICKHOUSE_HOST=https://sql-clickhouse.clickhouse.com
CLICKHOUSE_HOST=https://sql-clickhouse.clickhouse.com
CLICKHOUSE_USERNAME=demo
CLICKHOUSE_PASSWORD=
GEMS_DATABASE=pypi
GITHUB_DATABASE=github
API_KEY_ID=
API_KEY_SECRET=
GITHUB_STATS_API=''
USE_ENDPOINT=false
