@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 31, 31, 31;
  --background-end-rgb: 31, 31, 31;
}

body {
  color: rgb(var(--foreground-rgb));
  background:  #1d1d1d;
}

.isolate {
  background-image: url('/dot_grid.svg');
}

.icon-hover {
  color: #808691;
}

.icon-hover:hover {
  color: #FAFF69;
}

.icon-hover-2 {
  color: #656565;
}

.icon-hover-2:hover {
  color: #262626;
}

.both-buttons {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center; /* Center items horizontally */
  width: 100%; /* Ensure the container takes full width */
}

.both-buttons button {
  height: 31.9688px;
}

/* .cookie-divider {

  margin-top: 1rem;
  border-top: 1px solid #414141;
  margin-bottom: 1rem;
}

.cookie-content {
  font-size: 14px;
}

.cookie-container {
  background-color: #1F1F1C;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #323232;
  display: flex;
  position: fixed;
  flex: 1 0 300px;
  bottom: 0px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0px;
  width: 100%;
  z-index: 999;
  font-size: 1.2em;
  padding: 24px;
}

.cookie-container h3 {
  font-size: 1.25rem;
}


.CookieConsent {
  max-width: 500px;
  border-radius: 5px;
  padding: 20px 30px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%, 9999990px);
  width: 95%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.overlayclass { 
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cc-message-container * {
  font-size: 14px !important;
}

.cmp-modal {
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cmp-modal h1 {
  font-family: inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.atabs__panel {
  padding-top: 0;
}

.cmp-modal__sub-title, .cmp-tabs__desc, .cmp-tabs__sub-title, .cmp-accordion__sub-title {
  font-family: inter;
  font-size: 0.875rem;
  line-height: 150%;
}

.cmp-modal__footer .cmp-save-btn {
  font-family: inter;
  font-size: 0.875rem;
}

.cmp-modal__title {
  font-family: inter;
}

.cmp-accordion p {
  font-size: 0.875rem;
}

.cmp-tabs__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.cmp-tabs__sub-title {
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.cmp-accordion__title {
  font-size: 1rem;
  color: var(--primary-300);
}

.cmp-accordion__sub-title {
  font-size: 0.875rem;
}

.cmp-save-btn {
  border-radius: 0.125rem;
}

.cmp-modal__footer .cmp-save-btn, .cmp-modal__footer .cmp-decline-btn {
  height: auto !important;
}

.cc-message {
  padding: 15px !important;
}

.cc-compliance {
  color: #fff !important;
  font-weight: normal !important;
}

.cc-btn { 
  font-size: 14px !important;
  color: #fff !important;
  font-weight: normal !important;
  padding: 15px !important;
}

.cc-btn.cc-allow, .cc-type-opt-out .cc-btn.cc-dismiss {
  background-color: rgb(23, 103, 54) !important;
  color: #fff !important;
  font-weight: normal !important;
  font-size: 14px !important;
  border: none !important;
}

#securitiCmpCookiePrefBtn {
  font-weight: normal !important;
  font-size: 14px !important;
}

.cc-btn.cc-allow:hover, .cc-type-opt-out .cc-btn.cc-dismiss:hover {
  background-color: rgb(15, 67, 35) !important;
}

.cmp-revoke-consent {
  position: initial !important;
  padding: 0 !important;
}

.cmp-tabs {
  padding-top: 0;
}

.cmp-modal__header {
  margin-bottom: 0;
}

.cmp-tabs__nav ul li svg {
  left: 11px;
}

.cmp-tabs__nav ul li span {
  margin-left: 11px;
}

@media only screen and (max-width: 750px) {
  .cc-message {
    padding: 15px 15px 0 15px !important;
  }
} */